$non-desktop: '(max-width: 992px)';
$desktop: '(min-width: 993px)';
//Mixing to use media query
@mixin media_query($media) {
  @media only screen and #{$media} {
    @content
  }
}



html {
  min-height: 100%;
}

body {
  height: calc(100vh - 100px);
}

#root {
  min-height: 100%;
}

@mixin clearfix(){
  visibility: hidden;
  height: 0;
  clear: both;
  content: "";
  display: inline-block;
}

main {
  position: relative;
  margin-top: 100px;
  flex: 1 0 auto;

  &:after {
    @include clearfix();
  }

}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  color: $sub-color_black;
}

p {
  color: $sub-color_gray;
}

.title-divider {
  width: 80px;
  height: 4px;
  background-color: $sub-color_red !important;
}

.user_select {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
}

.bold-text {
  font-weight: bold;
}