html {
  min-height: 100%; }

body {
  height: calc(100vh - 100px); }

#root {
  min-height: 100%; }

main {
  position: relative;
  margin-top: 100px;
  flex: 1 0 auto; }
  main:after {
    visibility: hidden;
    height: 0;
    clear: both;
    content: "";
    display: inline-block; }

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  color: #000; }

p {
  color: #8c8c8c; }

.title-divider, .blocktwo__header__container div, .blockthree__container__divider, .blockfour__container__divider, .blockfive__container__header__container div, .blockseven__container__header__container div {
  width: 80px;
  height: 4px;
  background-color: #b30000 !important; }

.user_select {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none; }

.bold-text {
  font-weight: bold; }

.dashboard, .form_section {
  min-height: calc(100vh - 175px); }
  .dashboard__container, .form_section__container {
    height: 100%;
    display: flex;
    flex-direction: column; }
    .dashboard__container__header {
      text-align: center; }
      .dashboard__container__header__button_div {
        margin-bottom: 50px; }
      @media only screen and (min-width: 993px) {
        .dashboard__container__header h4 {
          font-size: 36px; } }
      @media only screen and (max-width: 993px) {
        .dashboard__container__header h4 {
          font-size: 25px; } }
      .dashboard__container__header h6 {
        margin-bottom: 30px;
        color: #8c8c8c; }
        @media only screen and (min-width: 993px) {
          .dashboard__container__header h6 {
            font-size: 25px; } }
        @media only screen and (max-width: 993px) {
          .dashboard__container__header h6 {
            font-size: 18px; } }
    .dashboard__container__survey-list {
      display: flex;
      justify-content: space-around;
      align-items: center;
      flex-wrap: wrap; }
      .dashboard__container__survey-list__survey {
        padding: 15px;
        flex: 1 0 40%;
        max-width: 700px;
        background-color: #f2f2f2;
        box-shadow: 0 0 5px 1px #8c8c8c;
        margin: 30px; }
        @media only screen and (min-width: 993px) {
          .dashboard__container__survey-list__survey {
            min-width: 600px; } }
        @media only screen and (max-width: 993px) {
          .dashboard__container__survey-list__survey {
            min-width: 300px; } }
        .dashboard__container__survey-list__survey__container__title {
          height: 385px;
          background-color: #fff;
          display: flex;
          justify-content: center;
          flex-direction: column;
          font-weight: bold;
          width: 100%;
          text-align: center; }
          @media only screen and (min-width: 993px) {
            .dashboard__container__survey-list__survey__container__title {
              padding-bottom: 30px;
              margin-bottom: 35px;
              border-bottom: 2px solid #b3b3b3; } }
          @media only screen and (max-width: 993px) {
            .dashboard__container__survey-list__survey__container__title {
              padding-bottom: 30px;
              margin-bottom: 25px;
              border-bottom: 2px solid #b3b3b3; } }
          .dashboard__container__survey-list__survey__container__title span {
            display: inline-block;
            width: 100%; }
          .dashboard__container__survey-list__survey__container__title span:first-of-type {
            color: #b30000 !important; }
            @media only screen and (min-width: 993px) {
              .dashboard__container__survey-list__survey__container__title span:first-of-type {
                font-size: 21px; } }
            @media only screen and (max-width: 993px) {
              .dashboard__container__survey-list__survey__container__title span:first-of-type {
                font-size: 16px; } }
          .dashboard__container__survey-list__survey__container__title span:nth-of-type(2) {
            color: #000; }
        .dashboard__container__survey-list__survey__container h3 {
          text-align: center; }
          @media only screen and (min-width: 993px) {
            .dashboard__container__survey-list__survey__container h3 {
              font-size: 25px;
              margin-top: 20px; } }
          @media only screen and (max-width: 993px) {
            .dashboard__container__survey-list__survey__container h3 {
              font-size: 20px;
              margin-top: 10px; } }
        .dashboard__container__survey-list__survey__container__body {
          background-color: #e5e5e5;
          padding: 10px !important; }
          .dashboard__container__survey-list__survey__container__body li {
            display: inline-block;
            width: 100%;
            color: #000;
            background-color: transparent;
            padding-bottom: 10px;
            margin-bottom: 20px;
            border-bottom: #8c8c8c 1px solid; }
            @media only screen and (min-width: 993px) {
              .dashboard__container__survey-list__survey__container__body li {
                font-size: 16px; } }
            @media only screen and (max-width: 993px) {
              .dashboard__container__survey-list__survey__container__body li {
                font-size: 14px; } }
        .dashboard__container__survey-list__survey__container p.right {
          color: #000;
          margin-top: 10px; }

.fadeIn {
  opacity: 0;
  animation: 1s fadeIn_el forwards; }

.fadeOut {
  opacity: 1;
  animation: 1s fadeOut_el forwards; }

@keyframes fadeIn_el {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes fadeOut_el {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@media only screen and (min-width: 993px) {
  .form_section--form-review__container__header {
    margin-bottom: 50px !important; } }

@media only screen and (max-width: 993px) {
  .form_section--form-review__container__header {
    margin-bottom: 30px !important; } }

.form_section--form-review__container__fields__field {
  padding-bottom: 10px;
  border-bottom: 1px solid #9e9e9e;
  margin-bottom: 30px; }
  .form_section--form-review__container__fields__field label {
    color: #2e7d32;
    font-weight: bold;
    font-size: 18px; }
  .form_section--form-review__container__fields__field p {
    color: #000; }

.form_section--form-review__container__buttons {
  flex-wrap: wrap; }
  .form_section--form-review__container__buttons button {
    margin-top: 10px; }

.form_section__container {
  position: relative; }
  .form_section__container__header, .form_section--form-review__container__header {
    width: 80%;
    text-align: center;
    margin: 0 auto 100px; }
    @media only screen and (min-width: 993px) {
      .form_section__container__header, .form_section--form-review__container__header {
        font-size: 25px; } }
    @media only screen and (max-width: 993px) {
      .form_section__container__header, .form_section--form-review__container__header {
        font-size: 20px; } }
  .form_section__container__form, .form_section--form-review__container .form_section--form-review--inner {
    width: 80%;
    margin: 0 auto;
    padding: 30px;
    box-shadow: 0 0 5px #8c8c8c;
    background-color: #f7f7f7; }
    .form_section__container__form__input-container {
      padding-bottom: 30px; }
      .form_section__container__form__input-container input {
        margin-bottom: 5px !important; }
      .form_section__container__form__input-container .error_text {
        color: #b30000; }
    .form_section__container__form__buttons, .form_section--form-review__container__buttons {
      display: flex;
      align-items: center; }
      @media only screen and (min-width: 993px) {
        .form_section__container__form__buttons, .form_section--form-review__container__buttons {
          justify-content: space-between; } }
      @media only screen and (max-width: 993px) {
        .form_section__container__form__buttons, .form_section--form-review__container__buttons {
          justify-content: space-around; } }
      .form_section__container__form__buttons .reset_btn, .form_section--form-review__container__buttons .reset_btn {
        position: absolute;
        top: 0;
        left: 50%;
        margin-left: -76.5px;
        margin-top: 60px; }

.header {
  height: 70px; }
  .header__navigation {
    background-color: #fff;
    height: inherit;
    width: 100%;
    box-shadow: none;
    transition: all ease-in-out 500ms;
    color: #000; }
    .header__navigation .side-nav {
      padding-top: 10px; }
      .header__navigation .side-nav .credits {
        margin-left: 30px !important; }
      .header__navigation .side-nav .add_credits {
        width: 270px;
        height: 48px;
        line-height: 48px;
        padding-left: 32px !important; }
      .header__navigation .side-nav .add_new_survey_btn {
        color: #fff !important; }
    .header__navigation .logout_btn {
      color: #000; }
    .header__navigation--inner {
      width: 90%;
      margin: 0 auto;
      display: -webkit-box !important;
      display: -moz-box !important;
      display: -ms-flexbox !important;
      display: -webkit-flex !important;
      display: flex !important;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
    .header__navigation .button-collapse {
      color: #000; }
    .header__navigation.is-scrolled {
      box-shadow: 0 0 20px #000; }
    .header__navigation__logo {
      position: relative !important;
      display: -webkit-box !important;
      display: -moz-box !important;
      display: -ms-flexbox !important;
      display: -webkit-flex !important;
      display: flex !important;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      color: #000;
      margin-right: auto;
      font-size: 1.5vh !important; }
      .header__navigation__logo__img {
        display: inline-block;
        width: 50px;
        height: 50px;
        background: url("../Images/email.png") center left no-repeat;
        background-size: 50px 50px;
        margin-right: 10px; }

.fixed_navbar {
  position: fixed;
  right: 0;
  top: 0;
  left: 0;
  margin-bottom: 0;
  z-index: 1000; }

.block-one {
  background-color: #fff;
  color: #000;
  overflow: hidden;
  position: relative;
  margin-top: 100px; }
  .block-one__jumbotron:after {
    visibility: hidden;
    height: 0;
    clear: both;
    content: "";
    display: inline-block; }
  @media only screen and (max-width: 993px) {
    .block-one__jumbotron {
      margin-top: 14vw; } }
  @media only screen and (min-width: 993px) {
    .block-one__jumbotron {
      margin-top: 100px; } }
  .block-one__jumbotron__text__header {
    margin: 0 !important; }
    @media only screen and (min-width: 993px) {
      .block-one__jumbotron__text__header {
        font-size: 45px; } }
    @media only screen and (max-width: 993px) {
      .block-one__jumbotron__text__header {
        font-size: 35px; } }
  .block-one__jumbotron__text__typed {
    margin: 10px 0; }
    .block-one__jumbotron__text__typed--typist {
      line-height: 20px;
      font-size: 20px; }
      @media only screen and (max-width: 993px) {
        .block-one__jumbotron__text__typed--typist {
          font-size: 16px;
          width: 80%;
          margin: 0 auto; } }
  @media only screen and (min-width: 993px) {
    .block-one__jumbotron__text__btn {
      margin-top: 35px; } }
  @media only screen and (max-width: 993px) {
    .block-one__jumbotron__text__btn {
      margin-top: 20px; } }
  .block-one__jumbotron__text__btn .btn {
    background-color: #b30000; }
    @media only screen and (min-width: 993px) {
      .block-one__jumbotron__text__btn .btn {
        line-height: 45px;
        height: 45px;
        padding: 0 30px; } }
    @media only screen and (max-width: 993px) {
      .block-one__jumbotron__text__btn .btn {
        line-height: 35px;
        height: 35px;
        padding: 0 25px; } }
    .block-one__jumbotron__text__btn .btn:hover {
      opacity: 0.8; }
  .block-one__ipad {
    position: relative;
    margin-top: 40px;
    width: 100%;
    padding-bottom: 10px; }
    .block-one__ipad img {
      width: 90%;
      max-width: 900px;
      margin: 0 auto; }
    .block-one__ipad:after {
      visibility: hidden;
      height: 0;
      clear: both;
      content: "";
      display: inline-block; }

.Cursor {
  margin-left: 5px;
  animation: blink-animation 1s infinite;
  -webkit-animation: blink-animation 1s infinite;
  transition: opacity ease-in-out .2s; }

@keyframes blink-animation {
  0% {
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@-webkit-keyframes blink-animation {
  0% {
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@media only screen and (min-width: 993px) {
  .blocktwo {
    padding: 100px 0 20px; } }

@media only screen and (max-width: 993px) {
  .blocktwo {
    padding: 40px 0 0; } }

.blocktwo__icon, .blockthree__icon, .blockfour__icon {
  color: #b30000 !important;
  margin-bottom: 10px;
  transition: all ease-in-out 1s; }
  .blocktwo__icon:hover, .blockthree__icon:hover, .blockfour__icon:hover {
    animation: iconPump .5s infinite; }

.blocktwo:after {
  visibility: hidden;
  height: 0;
  clear: both;
  content: "";
  display: inline-block; }

@media only screen and (min-width: 993px) {
  .blocktwo--inner {
    width: 80%;
    margin: 0 auto; } }

@media only screen and (max-width: 993px) {
  .blocktwo--inner {
    width: 100%;
    padding: 0 15px; } }

.blocktwo__header {
  width: 100%;
  margin-bottom: 40px; }
  .blocktwo__header:after {
    visibility: hidden;
    height: 0;
    clear: both;
    content: "";
    display: inline-block; }
  .blocktwo__header__container {
    margin: 0 auto; }
    @media only screen and (min-width: 993px) {
      .blocktwo__header__container {
        width: 530px; } }
    @media only screen and (max-width: 993px) {
      .blocktwo__header__container {
        width: 90%; } }
    @media only screen and (min-width: 993px) {
      .blocktwo__header__container h1 {
        font-size: 36px; } }
    @media only screen and (max-width: 993px) {
      .blocktwo__header__container h1 {
        font-size: 28px; } }
    .blocktwo__header__container p {
      color: #8c8c8c;
      margin: 10px 0; }
      @media only screen and (min-width: 993px) {
        .blocktwo__header__container p {
          font-size: 18px; } }
      @media only screen and (max-width: 993px) {
        .blocktwo__header__container p {
          font-size: 13.5px; } }
    .blocktwo__header__container div {
      position: absolute;
      margin-top: 10px;
      left: 50%;
      margin-left: -40px; }

.blocktwo__features__container {
  position: relative;
  left: 1px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; }
  @media only screen and (min-width: 993px) {
    .blocktwo__features__container {
      flex-direction: row; } }
  @media only screen and (max-width: 993px) {
    .blocktwo__features__container {
      align-items: center; } }
  @media only screen and (min-width: 993px) {
    .blocktwo__features__container__feature {
      flex-basis: 27%;
      margin-bottom: 50px; } }
  @media only screen and (max-width: 993px) {
    .blocktwo__features__container__feature {
      max-width: 230px;
      padding: 0 20px; } }
  .blocktwo__features__container__feature h2 {
    font-weight: 900; }
    @media only screen and (min-width: 993px) {
      .blocktwo__features__container__feature h2 {
        font-size: 24px;
        margin-bottom: 15px; } }
    @media only screen and (max-width: 993px) {
      .blocktwo__features__container__feature h2 {
        font-size: 19px; } }
  .blocktwo__features__container__feature p {
    color: #8c8c8c; }
    @media only screen and (min-width: 993px) {
      .blocktwo__features__container__feature p {
        font-size: 15px; } }
    @media only screen and (max-width: 993px) {
      .blocktwo__features__container__feature p {
        font-size: 12px;
        margin-bottom: 40px; } }

@keyframes iconPump {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(1.3); }
  100% {
    transform: scale(1); } }

@-webkit-keyframes iconPump {
  0% {
    transform: scale(1.3); }
  50% {
    transform: scale(1); }
  100% {
    transform: scale(1.3); } }

.blockthree__icon:hover, .blockfour__icon:hover {
  animation: none; }

.blockthree--inner {
  background-color: #fff; }

.blockthree__container, .blockfour__container {
  padding: 50px 20px 0;
  min-width: 900px;
  max-width: 1500px;
  margin: 0 auto;
  position: relative; }
  @media only screen and (min-width: 993px) {
    .blockthree__container, .blockfour__container {
      height: 500px; } }
  @media only screen and (min-width: 1200px) {
    .blockthree__container, .blockfour__container {
      height: 600px; } }
  @media only screen and (max-width: 993px) {
    .blockthree__container, .blockfour__container {
      padding: 20px 0 0 0;
      min-width: 0; }
      .blockthree__container:after, .blockfour__container:after {
        visibility: hidden;
        height: 0;
        clear: both;
        content: "";
        display: inline-block; } }
  .blockthree__container:after, .blockfour__container:after {
    visibility: hidden;
    height: 0;
    clear: both;
    content: "";
    display: inline-block; }
  .blockthree__container__divider, .blockfour__container__divider {
    margin: 5px 0 20px 0; }
    @media only screen and (max-width: 993px) {
      .blockthree__container__divider, .blockfour__container__divider {
        position: relative;
        left: 50%;
        margin: 5px 0 20px -40px; } }
  .blockthree__container__text, .blockfour__container__text {
    padding: 20px 20px 0;
    display: flex;
    margin-left: 5%;
    justify-content: center;
    flex-direction: column; }
    @media only screen and (min-width: 993px) {
      .blockthree__container__text, .blockfour__container__text {
        width: 40%; } }
    @media only screen and (max-width: 993px) {
      .blockthree__container__text, .blockfour__container__text {
        width: 100%;
        text-align: center;
        margin: auto; } }
    .blockthree__container__text h3, .blockfour__container__text h3 {
      z-index: 2; }
      @media only screen and (min-width: 993px) {
        .blockthree__container__text h3, .blockfour__container__text h3 {
          font-size: 22px; } }
      @media only screen and (max-width: 993px) {
        .blockthree__container__text h3, .blockfour__container__text h3 {
          font-size: 20px; } }
    .blockthree__container__text h2, .blockfour__container__text h2 {
      color: #8c8c8c;
      z-index: 2;
      margin: 10px 0 20px; }
      @media only screen and (min-width: 993px) {
        .blockthree__container__text h2, .blockfour__container__text h2 {
          font-size: 18px; } }
      @media only screen and (max-width: 993px) {
        .blockthree__container__text h2, .blockfour__container__text h2 {
          font-size: 16px; } }
    .blockthree__container__text p, .blockfour__container__text p {
      color: #000;
      z-index: 2;
      font-size: 15px;
      padding-right: 30px; }
      @media only screen and (max-width: 993px) {
        .blockthree__container__text p, .blockfour__container__text p {
          padding: 20px; } }
  .blockthree__container__image, .blockfour__container__image {
    z-index: 0;
    height: 100%; }
    @media only screen and (min-width: 993px) {
      .blockthree__container__image, .blockfour__container__image {
        margin-top: -205px;
        position: absolute;
        right: 0;
        top: 41%;
        padding-right: 20px; } }
    @media only screen and (min-width: 1200px) {
      .blockthree__container__image, .blockfour__container__image {
        margin-top: -246px;
        padding-right: 50px; } }
    .blockthree__container__image img, .blockfour__container__image img {
      z-index: -1;
      height: 100%;
      display: inline-block; }
      @media only screen and (max-width: 993px) {
        .blockthree__container__image img, .blockfour__container__image img {
          width: 100%; } }

.blockfour__container:after {
  visibility: hidden;
  height: 0;
  clear: both;
  content: "";
  display: inline-block; }

@media only screen and (min-width: 993px) {
  .blockfour__container__divider {
    margin-left: auto; } }

.blockfour__container__text {
  margin-left: auto;
  margin-right: 5%;
  text-align: right; }
  @media only screen and (max-width: 993px) {
    .blockfour__container__text {
      text-align: center; } }
  @media only screen and (min-width: 993px) {
    .blockfour__container__text p {
      padding-right: 0;
      padding-left: 30px; } }

@media only screen and (min-width: 993px) {
  .blockfour__container__image {
    left: 0;
    right: auto;
    padding-right: 0;
    padding-left: 50px; } }

.blockfive {
  background-color: white; }
  @media only screen and (max-width: 993px) {
    .blockfive {
      padding: 20px 0; } }
  @media only screen and (min-width: 993px) {
    .blockfive {
      padding: 100px 0 20px; } }
  .blockfive__container, .blockseven__container {
    overflow: hidden;
    text-align: center; }
    .blockfive__container__header, .blockseven__container__header {
      width: 100%;
      margin-bottom: 40px; }
      .blockfive__container__header:after, .blockseven__container__header:after {
        visibility: hidden;
        height: 0;
        clear: both;
        content: "";
        display: inline-block; }
      .blockfive__container__header__container, .blockseven__container__header__container {
        margin: 0 auto; }
        @media only screen and (min-width: 993px) {
          .blockfive__container__header__container, .blockseven__container__header__container {
            width: 530px; } }
        @media only screen and (max-width: 993px) {
          .blockfive__container__header__container, .blockseven__container__header__container {
            width: 70%; } }
        @media only screen and (min-width: 993px) {
          .blockfive__container__header__container h1, .blockseven__container__header__container h1 {
            font-size: 36px; } }
        @media only screen and (max-width: 993px) {
          .blockfive__container__header__container h1, .blockseven__container__header__container h1 {
            font-size: 28px; } }
        .blockfive__container__header__container p, .blockseven__container__header__container p {
          margin: 10px 0; }
          @media only screen and (min-width: 993px) {
            .blockfive__container__header__container p, .blockseven__container__header__container p {
              font-size: 18px; } }
          @media only screen and (max-width: 993px) {
            .blockfive__container__header__container p, .blockseven__container__header__container p {
              font-size: 13.5px; } }
        .blockfive__container__header__container div, .blockseven__container__header__container div {
          position: absolute;
          margin-top: 10px;
          left: 50%;
          margin-left: -40px; }
    .blockfive__container__device__nav {
      display: flex;
      justify-content: space-around;
      max-width: 1000px;
      flex-wrap: wrap;
      margin: 0 auto; }
      .blockfive__container__device__nav__button {
        background-color: #b30000;
        width: 215px;
        margin: 10px; }
        .blockfive__container__device__nav__button:hover, .blockfive__container__device__nav__button:focus {
          background-color: #b30000; }
    .blockfive__container__device h2 {
      margin-bottom: 15px; }
      @media only screen and (max-width: 993px) {
        .blockfive__container__device h2 {
          font-size: 18px; } }
      @media only screen and (min-width: 993px) {
        .blockfive__container__device h2 {
          font-size: 24px; } }
    .blockfive__container__device ul {
      background-color: white; }
      @media only screen and (max-width: 993px) {
        .blockfive__container__device ul {
          height: auto;
          width: 80%;
          overflow: hidden; } }
      @media only screen and (max-width: 993px) {
        .blockfive__container__device ul li.tab {
          height: 32px !important;
          line-height: 32px !important; }
          .blockfive__container__device ul li.tab a {
            font-size: 14px !important; } }
    .blockfive__container__gallery {
      cursor: move !important; }
      .blockfive__container__gallery__container {
        position: relative; }
        .blockfive__container__gallery__container .mac_monitor {
          z-index: 1;
          position: absolute;
          left: 50%;
          pointer-events: none; }

.blocksix {
  background-color: #fff;
  padding: 10px 50px; }
  .blocksix__icon {
    color: #b30000;
    float: left; }
    @media only screen and (min-width: 993px) {
      .blocksix__icon--left {
        float: right;
        margin-left: 20px; } }
    @media only screen and (min-width: 993px) {
      .blocksix__icon--right {
        float: left; } }
  .blocksix__container {
    max-width: 1000px;
    margin: 0 auto; }
    @media only screen and (min-width: 993px) {
      .blocksix__container {
        display: flex;
        justify-content: center;
        align-items: center; } }
    @media only screen and (max-width: 993px) {
      .blocksix__container__column {
        text-align: center; } }
    @media only screen and (min-width: 993px) {
      .blocksix__container__column img {
        width: 100%; } }
    @media only screen and (max-width: 993px) {
      .blocksix__container__column img {
        width: 300px; } }
    @media only screen and (max-width: 500px) {
      .blocksix__container__column img {
        width: 100%; } }
    .blocksix__container__column__list__item {
      text-align: center;
      margin-top: 20px; }
      @media only screen and (min-width: 993px) {
        .blocksix__container__column__list__item {
          margin-bottom: 100px; }
          .blocksix__container__column__list__item:last-of-type {
            margin-bottom: 0; } }
      .blocksix__container__column__list__item:first-of-type {
        margin-top: 0; }
      .blocksix__container__column__list__item__text {
        display: inline-block;
        text-align: left; }
        .blocksix__container__column__list__item__text h3 {
          font-size: 20px;
          margin-left: 50px;
          margin-bottom: 10px; }
        .blocksix__container__column__list__item__text p {
          font-size: 16px;
          margin-left: 50px; }
    .blocksix__container__column.column--center {
      flex-basis: 60%; }
    @media only screen and (min-width: 993px) {
      .blocksix__container__column .list--left {
        margin-right: 50px; }
        .blocksix__container__column .list--left h3 {
          margin-left: 0;
          margin-right: 60px;
          text-align: right !important; }
        .blocksix__container__column .list--left p {
          margin-left: 0;
          margin-right: 60px;
          text-align: right !important; } }
    @media only screen and (min-width: 993px) {
      .blocksix__container__column .list--right {
        margin-left: 50px; }
        .blocksix__container__column .list--right h3 {
          margin-left: 60px; }
        .blocksix__container__column .list--right p {
          margin-left: 60px; } }

.blockseven {
  background-color: white; }
  @media only screen and (max-width: 993px) {
    .blockseven {
      padding: 50px 0; } }
  @media only screen and (min-width: 993px) {
    .blockseven {
      padding: 100px 0 70px; } }
  .blockseven__container__header {
    margin-bottom: 0; }

@media only screen and (min-width: 993px) {
  .blockeight {
    padding-bottom: 50px; } }

@media only screen and (min-width: 993px) {
  .blockeight .container-map-element {
    height: 600px; } }

@media only screen and (max-width: 993px) {
  .blockeight .container-map-element {
    height: 400px; } }

.blockeight__container__contact-info {
  position: relative;
  top: 0; }
  @media only screen and (min-width: 993px) {
    .blockeight__container__contact-info {
      height: 200px; } }
  @media only screen and (max-width: 993px) {
    .blockeight__container__contact-info {
      height: 100px; } }
  .blockeight__container__contact-info__list {
    width: 80%;
    padding: 15px !important;
    position: absolute;
    top: -80px;
    left: 50%;
    margin-left: -40%;
    display: flex;
    justify-content: space-around;
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0 0 10px 2px #eee;
    flex-wrap: wrap; }
    .blockeight__container__contact-info__list--item {
      position: relative; }
      .blockeight__container__contact-info__list--item:first-of-type {
        order: 1; }
      .blockeight__container__contact-info__list--item:nth-of-type(2) {
        order: 3; }
        @media only screen and (min-width: 993px) {
          .blockeight__container__contact-info__list--item:nth-of-type(2) {
            order: 2; } }
      .blockeight__container__contact-info__list--item:last-of-type {
        order: 2; }
        @media only screen and (min-width: 993px) {
          .blockeight__container__contact-info__list--item:last-of-type {
            order: 3; } }
      @media only screen and (max-width: 993px) {
        .blockeight__container__contact-info__list--item {
          display: flex;
          flex-direction: column;
          align-items: center;
          text-align: center;
          min-width: 154px;
          padding: 10px; } }
      .blockeight__container__contact-info__list--item span {
        display: inline-block;
        color: #b30000; }
        @media only screen and (min-width: 993px) {
          .blockeight__container__contact-info__list--item span {
            line-height: 44px;
            height: 44px;
            position: relative;
            left: -10px;
            top: -5px; } }
      .blockeight__container__contact-info__list--item p {
        display: inline-block; }

.footer {
  background-color: #f2f2f2;
  color: #000;
  padding: 20px;
  display: flex;
  justify-content: space-around; }
  .footer span {
    line-height: 35px; }

.page_loader {
  animation: load8 2.2s linear;
  margin: 0 auto;
  height: 100vh;
  width: 100vw;
  position: relative;
  text-indent: -9999em;
  background: url("../Images/giphy.gif") center center no-repeat; }

@keyframes load8 {
  30% {
    opacity: 1; }
  60% {
    opacity: 0.5; }
  80% {
    opacity: 0; }
  100% {
    opacity: 1; } }

a.collection-item {
  flex-basis: 33% !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important; }

.container {
  width: 100% !important;
  max-width: 1000%; }

footer a {
  display: inline-block;
  line-height: 35px; }

footer input {
  border-bottom: 1px solid #fff !important; }

.loader {
  animation: load8 2.2s linear; }

.loader:empty {
  margin: 0 auto;
  height: 100%;
  width: 100%;
  position: relative;
  text-indent: -9999em;
  background: url("../Images/giphy.gif") center center no-repeat; }

@keyframes load8 {
  30% {
    opacity: 1; }
  60% {
    opacity: 0.5; }
  80% {
    opacity: 0; }
  100% {
    opacity: 1; } }
