//Block One styles file
@import '../BlockOne/scss/_block_one';
//Block Two styles file
@import '../BlockTwo/scss/block_two';
//Block Seven styles file
@import '../BlockSeven/scss/block_seven';
//Block Five styles file
@import '../BlockFive/scss/block_five';