//Block One styles file
@import '../BlockOne/scss/_block_one';
//Block Two styles file
@import '../BlockTwo/scss/block_two';
//Block Three styles file
@import '../BlockThree/scss/block_three';
//Block Four styles file
@import '../BlockFour/scss/block_four';
//Block Five styles file
@import '../BlockFive/scss/block_five';
//Block Six styles file
@import '../BlockSix/scss/block_six';
//Block Seven styles file
@import '../BlockSeven/scss/block_seven';
//Block Seven styles file
@import '../BlockEight/scss/block_eight';