//Page loader styles
.page_loader {
  animation: load8 2.2s linear;
  margin: 0 auto;
  height: 100vh;
  width: 100vw;
  position: relative;
  text-indent: -9999em;
  background: url("../Images/giphy.gif") center center no-repeat;
}

//Animation - MOVE TO ANOTHER FILE
@keyframes load8 {
  30% {
    opacity: 1;
  }
  60% {
    opacity: 0.5
  }
  80% {
    opacity: 0
  }
  100% {
    opacity: 1;
  }
}

