//Dashboard styles
.dashboard {
  min-height: calc(100vh - 175px);
  //Dashboard container styles
  &__container {
    height: 100%;
    display: flex;
    flex-direction: column;

    //Dashboard header styles
    &__header {
      &__button_div {
        margin-bottom: 50px;
      }

      text-align: center;
      h4 {
        @include media_query($desktop-var) {
          font-size: 36px;
        }
        @include media_query($non-desktop-var) {
          font-size: 25px;
        }
      }
      h6 {
        margin-bottom: 30px;
        color: $sub-color_gray;
        @include media_query($desktop-var) {
          font-size: 25px;
        }
        @include media_query($non-desktop-var) {
          font-size: 18px;
        }
      }
    }

    //Survey List styles
    &__survey-list {
      display: flex;
      justify-content: space-around;
      align-items: center;
      flex-wrap: wrap;

      //One surveys styles
      &__survey {
        padding: 15px;
        flex: 1 0 40%;
        @include media_query($desktop-var) {
          min-width: 600px;
        }

        @include media_query($non-desktop-var) {
          min-width: 300px;
        }
        max-width: 700px;
        background-color: lighten($sub-color_gray, 40%);
        box-shadow: 0 0 5px 1px $sub-color_gray;
        margin: 30px;

        //Survey container styles
        &__container {

          //Survey title styles
          &__title {
            height: 385px;
            background-color: #fff;
            display: flex;
            justify-content: center;
            flex-direction: column;
            font-weight: bold;
            width: 100%;
            text-align: center;
            @include media_query($desktop-var){
              padding-bottom: 30px;
              margin-bottom: 35px;
              border-bottom: 2px solid lighten($sub-color_black, 70%);
            }

            @include media_query($non-desktop-var){
              padding-bottom: 30px;
              margin-bottom: 25px;
              border-bottom: 2px solid lighten($sub-color_black, 70%);
            }

            span {
              display: inline-block;
              width: 100%;
            }

            span:first-of-type {
              color: $sub-color_red !important;
              @include media_query($desktop-var) {
                font-size: 21px;
              }
              @include media_query($non-desktop-var) {

                font-size: 16px;
              }
            }
            span:nth-of-type(2) {
              color: $sub-color_black;
            }
          }
          h3 {
            text-align: center;
            @include media_query($desktop-var){
              font-size: 25px;
              margin-top: 20px;
            }
            @include media_query($non-desktop-var){
              font-size: 20px;
              margin-top: 10px;
            }
          }

          //Survey body styles
          &__body {
            background-color: lighten($sub-color_gray, 35%);
            padding: 10px !important;
            li {
              display: inline-block;
              width: 100%;
              color: $sub-color_black;
              background-color: transparent;
              @include media_query($desktop-var){
                font-size: 16px;
              }
              @include media_query($non-desktop-var){
                font-size: 14px;
              }
              padding-bottom: 10px;
              margin-bottom: 20px;
              border-bottom: $sub-color_gray 1px solid;
            }

          }
          p.right {
            color: $sub-color_black;
            margin-top: 10px;
          }
        }
      }
    }
  }
}

//Animation - MOVE TO ANOTHER FILE!
.fadeIn {
  opacity: 0;
  animation: 1s fadeIn_el forwards;
}

.fadeOut {
  opacity: 1;
  animation: 1s fadeOut_el forwards;
}

@keyframes fadeIn_el {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeOut_el {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}