//Form Section styles
.form_section {
  @extend .dashboard;

  //Form Section container styles
  &__container {
    @extend .dashboard__container;
    position: relative;

    //Form Section container header styles
    &__header {
      width: 80%;
      text-align: center;
      margin: 0 auto 100px;
      @include media_query($desktop-var) {
        font-size: 25px;
      }
      @include media_query($non-desktop-var) {
        font-size: 20px;
      }
    }

    //Form Section container form styles
    &__form {
      width: 80%;
      margin: 0 auto;
      padding: 30px;
      box-shadow: 0 0 5px $sub-color_gray;
      background-color: lighten($sub-color_gray, 42%);

      //Form Section container form: input fields wrapper styles
      &__input-container {
        padding-bottom: 30px;

        input {
          margin-bottom: 5px !important;
        }

        //Form Section container form: input fields wrapper - errors styles
        .error_text {
          color: $sub-color_red;
        }
      }

      //Form Section container form: input fields wrapper styles: buttons styles
      &__buttons {
        display: flex;
        @include media_query($desktop-var) {
          justify-content: space-between;
        }
        @include media_query($non-desktop-var) {
          justify-content: space-around;
        }
        align-items: center;


        //Form Section container form: input fields wrapper styles: buttons - reset button styles
        .reset_btn {
          position: absolute;
          top: 0;
          left: 50%;
          margin-left: -76.5px;
          margin-top: 60px;
        }
      }
    }
  }
}